@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin button {
    padding: 16px;
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 160px;


    @include tablet {
        max-width: 500px;
    }
}

@mixin button--primary {}

@mixin button--secondary {
    background-color: #ddd;
    color: black;
}