
.admin-game {
    color: white;
}

.room-information {
    display: flex;
    justify-content: space-between;
}


.game-information {

    
    &__answers {
        display: flex;
        gap: 16px;
    }

    &__answer {
        list-style-type: none;
        border: 1px solid black;
        background-color: aqua;
        padding: 16px;
    }
}