@use "../../styles/mixins.scss" as *;

.admin-waiting-room {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__start-button {
        @include button;

    }
}

.room-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
}