@use "../../styles/mixins.scss" as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    min-height: 90vh;

    &__link {
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }

    &__button {
        @include button;
        @include button--primary;
        text-transform: capitalize;
    }   
}
